.card{
	position: fixed;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 99;
	border-radius: 8px;
}
.card-header{
	height: 100px;
	overflow: hidden;
}
.card-header img{
	width: 100%;
	border-radius: 8px 8px 0 0;
}
.card-content{
	margin: 10px 2.5%;

}
.card-footer{
	text-align: center;
	background-color: #fff;
	border-top: 1px solid #ddd;
	border-radius: 0 0 8px 8px;
}
.card-footer .btn{
	border: none;
    color: #23dacd;
    font-size: 0.9375rem;
    width: 90%;
	border-radius: 0 0 8px 8px;
    line-height: 38px;
    background-color: #fff;
}