.title{
	position: fixed;
	top: 0;
	line-height: 44px;
	left: 0;
	width: 100%;
	font-size: 1.125rem;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	text-align: center;
	z-index: 999;
}
.title a{
	position: absolute;
	font-size: 0.9375rem;
	color: #23dacd;
}
.icon-back{
	left: 5%;
	width: 30px;
	height: 30px;
	top: 7px;
}
.btn-link{
	right: 5%;
	top: 0px;
}