.title{
	position: fixed;
	top: 0;
	line-height: 44px;
	left: 0;
	width: 100%;
	font-size: 1.125rem;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	text-align: center;
	color:#333;
}
.title a{
	position: absolute;
	font-size: 0.9375rem;
	color: #23dacd;
}
.title .icon-back{
	left: 5%;
	top: 7px;
	margin: 0 !important;
    background: #fff url(/static/m/images/common/arrows_r_g.png) no-repeat 100% 0 !important;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
.btn-link{
	right: 5%;
	top: 0px;
}
