.tc{text-align: center;}
.content .stars{
	background: url(../img/star-default.png) no-repeat 0 0;
	background-size: 213px 29px;
	font-size: 0;
	height: 29px;
	position: absolute;
	width: 213px;
	left: 0;
	top: 25px;
}
.stars a{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 15px;
}
.stars a:last-child{
	margin-right: 0;
}
.star-bg{
	position: relative;
	height: 29px;
	width: 213px;
	margin: 0 auto;
	padding: 25px 0 17px;
}
.star-bg .bg-active{
	position: absolute;
	left: 0;
	top: 25px;
	width: 0;
	height: 29px;
	background: url(../img/star-active.png) no-repeat 0 0;
	background-size: 213px 29px;
	pointer-events: none;
}